{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">DETAIL</h1>
<h2>{{ article.pk }} 번째 글</h2>
<hr>
<p>제목: {{ article.title }}</p>
<p>내용: {{ article.content }}</p>
<p>작성 시각: {{ article.created_at }}</p>
<p>수정 시각: {{ article.updated_at }}</p>
<hr>
<a href="{% url 'articles:update' article.pk %}">[UPDATE]</a> <!--수정하는 곳으로 연결-->
<form action="{% url 'articles:delete' article.pk %}" method="POST" onclick="return confirm('진짜 지울거야??')"> <!-- POST방식은 FORM TAG 에서!! -->
  {% csrf_token %}
  <input type="submit" value="DELETE">
</form>
<a href="{% url 'articles:index' %}">[BACK]</a> <!-- 이름만 알면 됨! -->
{% endblock %}