<!--NEW와 EDIT 입력폼 동일함!!(수정해도 기존 틀과 같으므로..)-->
{% extends 'base.html' %}
{% block content %}
  <h1 class="text-center">EDIT</h1>

  <form action="/articles/{{ article.pk }}/update/" method="POST"> <!--/articles/create/ 로 요청 보냄-->
    {% csrf_token %} <!--post에서는 토큰값 같이 보내줘야 함-->
    <label for="title">TITLE</label>
    <input type="text" name="title" id="title" value="{{ article.title }}"><br> <!--이전의 value값 가져옴-->
    <label for="content">CONTENT</label> <!--content는 대용량의 문자열을 받으므로  textarea 사용!-->
    <textarea name="content" id="content" cols="30" rows="5">{{ article.content }}</textarea><br> <!--이전의 value값 가져옴(textarea에서는 테그로 작성)-->
    <input type="submit" value="submit">
  </form>
  <a href="/articles/{{ article.pk }}/">[BACK]</a>
{% endblock %}