<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="newTodo" @keyup.enter="addTodo">
        <button @click="addTodo">+</button>
        <li v-for="todo in todos" v-bind:key="todo.id">
            <span>{{ todo.content }}</span>
            <button @click="removeTodo(todo.id)">x</button> <!--todo.id 에 해당하는 것만 삭제-->
        </li>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                todos: [],
                newTodo: '',
            },
            methods: {
                addTodo: function() {
                    if (this.newTodo.length !== 0) {
                        this.todos.push({
                            id: Date.now(),
                            content: this.newTodo,
                            completed: false,
                        })
                    this.newTodo = '' // 함수 실행된 후 빈문자열로 두어야 입력 후 글 안남음.
                    }
                },
                removeTodo: function(todoId) {
                    // false 인 애들만 뽑아오기
                    this.todos = this.todos.filter( todo => {
                        // 완료한 todo
                        // 완료된 todo를 제외한 나머지 todo만 filter를 통해서
                        // 새로운 배열로 return
                        return todo.id !== todoId // 누른애랑 다른애들만 출력...
                    })
                    this.todos.empty(this.id)
                } // 특정 id 삭제
            }
        })
    </script>
</body>
</html>