<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        img {
            width: 300px;
            height: 300px;
        }
    </style>
</head>

<body>
    <div id="app">
        <select v-model="n">
            <option v-for="number in numbers" :value="number">{{ number }}</option>
            <!--
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
-->
        </select>
        <button v-on:click="getDogImage">Get {{n}} Dogs!</button>
        <!--<button v-on:click="getDogImage(n)">Get {{n}} Dogs!</button>-->
        <div v-for="image in images">
        <!--<div v-for="image in images[0]">-->
            <img :src="image" alt="img" v-if="image">
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                n: '1',
                images: [],
                numbers: 9,
            },
            methods: {
                getDogImage: function () {
                    // const URL = 'https://dog.ceo/api/breeds/image/random/' + num
                    const URL = `https://dog.ceo/api/breeds/image/random/${this.n}`
                    axios.get(URL)
                        .then(response => {
                            this.images = response.data.message
                            console.log(this.images)
                        })
                    // this.images = []
                },
            }
        })
    </script>
</body>

</html>